.dashbaord-page{
    display: flex;
}

.profile-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 7.8%;
    padding-left: 2%;
}

.products-card{
    width: 100%;
    padding: 5%;
    height: 100vh;
}